@model SizDiplom.ViewModels.DepartmentViewModel

@* DepartmentController/DeptDetails *@

<div class="wrapper">

    <div id="sidebar" class="aside">

        @await Html.PartialAsync("DepartmentMenuPartial")

    </div>

    <div id="article">

        <h2>@ViewData["Title"]</h2>
        <h2>@ViewData["Warning"]</h2>
        <br />


        <form asp-action="" asp-controller="Department" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>

            <div class="form-group">

                <div class="form-group">
                    <label asp-for="Name">Введите новое название департамента (если надо):</label><br />
                    <input type="text" asp-for="Name" /><br />
                    <span asp-validation-for="Name"></span><br /><br />
                </div>
                <div>
                    <input type="number" asp-for="Id" /><br />
                </div>
                <button asp-action="Edit" type="submit" formmethod="post">Изменить название департамента</button>                
                <button asp-action="Delete" type="submit" formmethod="post">Удалить департамент</button>
                    <br />
              </div>
        <br />
        <br />
         </form> 
        
        <br />
        <br />
         <form>

            <button asp-action="Index" asp-controller="Admin" formmethod="get">Выйти без изменений</button>
         </form>
       

    </div>

</div>
